* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    font-size: 20px;
    background-color: lightsalmon;
}

main {
}

h1{
    text-align: center;
    margin: 50px;
}

h2{
    margin-bottom: 20px;
}
p{
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 1270px;
    height: 660px;
    background-color: white;
    border-radius: 15px;
}
.teste1 {
    display: flex;
    flex-direction: column;
    width: 50%;   
    padding: 2%;
}
.left-color{
    background-color: lightgray;
}
.teste2 {
    display: flex;
    flex-direction: column;
}
.teste3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}
.teste4 {
    display: flex;
    flex-direction: column;
}
.teste5 {
    width: 100%;  
    height: 100%;
}
.teste1-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
.teste2-right {
    width: 100%; 
}
.postal-code{
    margin-left: 20px;
}
.input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid red;
    padding: 12px 20px;
    box-sizing: border-box;

}
.button {
    width: 100%;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 29%;
    border: none;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
.top_box{
    height: 65%;
}
.mid_box{
    display: flex;
    flex-direction: row;
    height: 15%;

}
.bottom_box_left{
    display: flex;
    flex-direction: row;
    height: 20%;
}
.bottom_left{
    width: 80%;
}
.bottom_right{
    width: 20%;
}
.teste4_left{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid coral;
    margin-right: 20px;
}
.teste4_mid{
    width: 60%;
}
.teste4_right{
    width: 20%;
}
.teste1-dualbox{
    display: flex;
    flex-direction: row;
}
.coupon{
    height: 50px;
    font-size: 20px;
}
.total_text{
    height: 33.33%;
}
.total_cash{
    height: 33.33%;
}
.input_coupon{
    width: 70%;
}
.button_coupon{
    width: 30%;
    margin-left: 10px;
}
.close-icon{
    height: 30px;
    width: 30px;
}