* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: "Roboto", sans-serif; 
}

body {
  font-size: 18px;
  color: #3a4151;
}

main {
  position:absolute;
  top: 0;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #3a4151;
}
.checkout__background{
  position:relative;
  width: 100%;
  height: 220px;

}
@media (min-width: 1351px){
.checkout__content {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 90%;
    max-width: 1350px;
    height: 660px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
  }
}
.checkout__header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  gap: 20px;
  color: white!important;
}

.checkout__title{
  justify-items: center;
  font-size: 24px;
}
.check__item-count{
  border-radius: 20px;
  font-size: 12px;
  background-color: #1d1d1f;
  color: white;
  padding: 5px 10px;
}
@media (min-width: 721px) {
  .checkout__products{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
    background-color: #e6e7eb;
  }
  
  .checkout__form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%; 
  }  
}

.teste1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2%;

}

.teste2 {
  display: flex;
  flex-direction: column;
}

.product-list__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33%;
}

.teste5 {
  width: 100%;
  height: 100%;
}

.form__field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  margin-bottom: 35px;

}

.form__subfield {
  width: 100%;
}

.form__postal-code {
  margin-left: 20px;
}

.form__input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 12px 15px;
  box-sizing: border-box;

}

.button {
  width: 100%;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-bottom: 29%;
  border: none;
  font-size: 18px;
  background-color: #1d1d1f;
  color: white;
  border-radius: 8px;
}

.product-list {
  height: 65%;
}

.mid_box {
  display: flex;
  flex-direction: row;
  height: 15%;

}

.checkout__totals {
  display: flex;
  flex-direction: row;
  height: 20%;
}

.totals__labels {
  width: 80%;
}

.totals__values {
  width: 20%;
}

.product-list__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin-right: 20px;
  background-color: white;
}

.product-list__details {
  width: 60%;
  height: 100%;
}

.teste4_right {
  width: 20%;
}

.form__field--dual {
  display: flex;
  flex-direction: row;
}

.coupon {
  height: 50px;
  font-size: 20px;
}

.total_text {
  height: 33.33%;
  color: #3a4151;
}

.totals__value {
  height: 33.33%;
  color: #3a4151;
  direction: rtl;
}

.input_coupon {
  width: 70%;
}

.button_coupon {
  width: 30%;
  margin-left: 10px;
}

.product-list__price-actions {
  position: relative;
  width: 20%;
}

.product-list__remove-btn {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 0;
  background: content-box;
}
.checkout__divider{
  width: 100%;
  border-bottom: 1px solid #d2d5da;
  margin-bottom: 20px;
}

.product-list__price {
  position: absolute;
  right: 0;
  top: 0;
}

.product-list__remove-icon {
  width: 30px;
  height: 30px;
}
.product-list__name{
  margin-bottom: 10px;
}
.product-list__color{
  margin-bottom: 30px;
  color: #3a4151;
}
@media (max-width: 1350px) and (min-width: 721px){
  .checkout__content{
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  width: 90%;
  max-width: 1024px;
  height: 620px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  }

}

@media (max-width: 720px) and (min-width: 320px){
  .checkout__content{
  margin: 50px auto;
  width: 95%;
  max-width: 720px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  }
  .checkout__background{
  position:relative;
  width: 100%;
  height: 220px;
  }
  .checkout__products{
    padding: 30px;
    background-color: #e6e7eb;
  }
  .checkout__form{
    padding: 30px;
    height: 450px;
    box-shadow:
  3px 3px red;
  }
  .button{
    margin-bottom: 0px;
  }
}